@charset "utf-8";
/* CSS Document */


@import url("base.css");
@import url("botonera.css");
@import url("intra.css");

#destaca_portada {
	width: 470px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	border-top-width: 0px;
	clip: rect(auto,auto,auto,100px);
	margin-left: 100px;
}
#destaca_texto {
	width: 250px;
	border-left-width: 100px;
}

#destaca_portada #foto_destacado {
	background-image: url(../images/fondo_foto_destacado.gif);
	background-repeat: no-repeat;
	float: left;
	height: 96px;
	width: 96px;
	padding: 8px;
}
.tit {
	font-weight: bold;
	color: #047680;
	font-family: "Trebuchet MS";
	font-size: 11px;
}
#fecha {
	font-size: 9px;
	color: #333333;
	text-align: right;
	width: 160px;
	white-space: normal;
	height: 15px;
}
#acceso {
	position: absolute;
	top: 10px;
	left: 30px;
	width: 250px;
	font-family: "Trebuchet MS";
	font-size: 11px;
}
#acceso form {
	margin-top: 10px;
	font-size: 11px;
	font-family: "Trebuchet MS";
}
#acceso table {
	margin-top: 10px;
}

#acceso p {
	text-align: right;
	font-size: 11px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#acceso a {
	color: #999999;
	text-decoration: none;
}
#acceso a:hover {
	color: #000000;
	text-decoration: none;
}
.bloque {
	background-image: url(../images/general/fondo_bloque.gif);
	background-repeat: repeat-x;
	border: 1px solid #4994a9;
	font-size: 11px;
	color: #000000;
	padding-left: 3px;
	margin-bottom: 5px;
	font-family: "Trebuchet MS";
}
.investigador {
	color: #000000;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
}
