@charset "utf-8";
/* CSS Document */
#todo {
	text-align: left;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	background-position: center 0px;
	background-repeat: no-repeat;
	background-image: url(../images/margen_portada.gif);
	height: 540px;
}

* html #content {
	top:0px;
	bottom:0;
	height:500px;
	width:967px;
	border-top-width: 56px;
	border-top-style: solid;
	border-bottom-style: solid;
	}
#contenedor {
	width: 954px;
	margin-left: 25px;
	padding-top: 58px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: 481px; 
	border-top-width: 58px;
	position:absolute;
	margin-left:-477px;
	left:50%;
	}
#foot {
	text-align:center;
	margin-left:-490px;
	width:980px;
	min-width:980px;
	height:36px;
	background-image: url(../images/sombra_bajada.gif);
	background-repeat: no-repeat;
	background-color: #9F9C9B;
	position: absolute;
	top: 540px;
	left: 50%;
	}

* html #foot {
	width:980px;
	height:36px;
	}
#colofon {
	width: 954px;
	font-size: 10px;
	font-weight: bold;
	padding-top: 6px;
	padding-right: 5px;
	padding-left: 5px;
	color: #666666;
	font-family: "Trebuchet MS";
}
#colofon a {
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
#colofon a:hover {
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}
#colofon ul {
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
#colofon li {
	float: left;
}
#colofon li.opcion{
	padding-left:20px;
	font-weight: normal;
	background-image: url(../images/1x1.gif);
	background-repeat: no-repeat;
	background-position: 10px 0px;
}
#colofon li.opcion a{
	color:#000000;
	text-decoration:none;
}
#colofon li.opcion a:hover{
	color:#000000;
	text-decoration:underline;
}
#navegacion {
	height: 25px;
}
