#impacto{
    margin-top: 50px;
    background: linear-gradient(to bottom, #ffffff, #d0cfcf);
}
#impacto h5, #impacto h6{
    font-family: "Poppins", sans-serif !important;
    font-weight: bold;
}
#nuestro-impacto {
    position: relative;
    padding-top: 280px;
    padding-bottom: 280px;
    background-image: url('../img/libros.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center bottom;
    color: white; 
}



#nuestro-impacto .container {
    position: relative;
    z-index: 2; 
    text-align: center;
    padding: 20px; 
}

.counter-item {
    z-index: 2; 
}


#impacto-humano {
    position: relative;
    padding-top: 80px !important;
    padding-bottom: 260px !important;
    background-image: url('../img/impacto/capital-humano.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    color: white;
}


#impacto-humano .container {
    position: relative;
    z-index: 2; 
    text-align: center;
    padding: 20px; 
}

#impacto-humano .counter-item {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px; 
}

#impacto-humano .counter-item h3,
#impacto-humano .counter-item span {
    color: white; 
}

#selector-impact {
    background-color: var(--color-marca-azul);
    border: solid 1 px var(--color-marca-verde);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 25px;
    padding: 0 15px 0 15px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 5px;
    ;
}

#selector-impact .nav-item {

    margin-right: 3px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#selector-impact .nav-item a {
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif; 
}

#selector-impact .nav-item .active {
    background-color: var(--color-marca-gris);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--color-marca-azul);
}

#selector-impact .nav-item:last-child {
    margin-right: 0;
}


.card-impact .card
{
    max-width: 300px;
    height: 420px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.card-impact .card .imgContainer
{
    background: transparent;
    position: relative;
    width:218px;
    height:0;
    padding-top: 56.25%;
    overflow: hidden;
    top:-50px;
    left:-3px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.card-impact .card .imgContainer img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    border-radius: 4px;
}


.card-impact .card .content
{
    position: relative;
    margin-top: -10px;
    text-align: center;
    overflow-y: auto;
    color: var(--color-marca-negro);
    font-family: "Poppins", sans-serif; 
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.1s;
    font-weight: 400;
    font-size:0.9em;
}

.counter .counter-item .counter-counting {
    width: 100%;
    text-align: center;
    border-color: var(--bs-white);
    font-size: 30px;
    font-family: "Poppins", sans-serif; 
}
.bg-black-60 {
    background-color: var(--color-marca-negro);
    opacity: 0.8; 
}

@media (max-width: 330px){
    .card-impact .card .imgContainer{
        left: -2px;
    }
}
@media (max-width: 768px) {
    .card-impact .card .imgContainer
    {
       left: 5%;
       right: 10%;
       
    }
    .nav-item a{
        font-size: 0.8em;
    }
}