@charset "utf-8";
/* CSS Document */

@import url("thickbox.css");


#acceso {
	position: absolute;
	top: 10px;
	left: 30px;
	width: 250px;
	font-family: "Trebuchet MS";
	font-size: 11px;
}
#acceso form {
	margin-top: 10px;
	font-size: 11px;
	font-family: "Trebuchet MS";
}
#acceso table {
	margin-top: 10px;
}

#acceso p {
	text-align: right;
	font-size: 11px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#acceso a {
	color: #999999;
	text-decoration: none;
}
#acceso a:hover {
	color: #000000;
	text-decoration: none;
}
.bloque {
	background-image: url(../images/general/fondo_bloque.gif);
	background-repeat: repeat-x;
	border: 1px solid #4994a9;
	font-size: 11px;
	color: #000000;
	padding-left: 3px;
	margin-bottom: 5px;
	font-family: "Trebuchet MS";
}
+
