<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Presentaciones Seminario internacional políticas y evaluación en la educación para jóvenes y adultos, 14 de octubre</title>
<style type="text/css">img { border:0}
body {font-family: "Lucida Sans" ,  sans-serif; font-size:12px;}
 
a.nounderline:link 
{ 
    text-decoration:none;   
    
} 
    
    
img { border:0}
body { font-family: 'Brandon Grotesque', serif;}
a {color:#023457; font-weight:bold;}
.style1 {font-size: 10px}

.contenido {
    font-family: 'Brandon Grotesque', serif;
     font-size: 24px;
      margin-bottom: 0px !important; 
      margin-top: 25px !important; 
      margin-right: 30px;
      margin-left: 30px;
      padding-left: 20px; 
      padding-right: 20px;
       padding-top: 0px; 
       padding-bottom: 0px; 
       letter-spacing: 0px; 
       color: #000000; 
       font-weight: 400; 
       line-height: 30px; 
       text-align: left;
}
</style>
<table border="0" cellpadding="5" cellspacing="5" style="width:100% ">
    <tbody>
        <tr>
            <td style="width:30% ">&nbsp;</td>
            <td style="text-align:center"><!--CONTENIDO-->
            <div style="text-align: left;">
            <table style="width: 50%; border-color:#dddddd; background-color: #ffffff !important; border-width:2px; border-style:solid; padding-top: 30px !important; margin-top: 30px !important; padding: 0px !important;">
                <tbody>
                    <tr>
                        <td align="left" style="text-align:center">
                        <table border="0" cellpadding="0" cellspacing="0" height="auto" style="background-color: #ffffff !important; padding-top: 0px !important; padding-bottom: 60px !important; margin-top: 0px !important; padding-right: 0px !important; border-radius: 12px;" width="866">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        <img align="center" alt="" height="auto" src="https://ciae.uchile.cl/mail_list/email/imagenes/encabezados/logos-ie-ciae.png" valign="top"  width="400px"  />
                        <table border="0" cellpadding="0" cellspacing="0" height="auto" style="background-color: #ffffff !important; padding-top: 0px !important; padding-bottom: 60px !important; margin-top: 0px !important; padding-right: 0px !important; border-radius: 12px;" width="866">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        <!--TEXTOS-->
                        <div style="text-align:left;padding-right: 20px;padding-left: 30px;">
                         <p>Estimad{tratamiento} {nombre} {apellido}
</p>
         <br>
		 <p>Gracias por participar del seminario Seminario internacional Pol&iacute;ticas y evaluaci&oacute;n en la educaci&oacute;n para j&oacute;venes y adultos.
</p>
<p>En el siguiente link encontrar&aacute; las presentaciones de los panelistas nacionales e internacionales. <a href="https://www.ciae.uchile.cl/index.php?page=view_noticias&id=2545&externo=email_{correo_md5}_{id_md5}&langSite=es">AQUÍ</a></p>

<p>Tambi&eacute;n puedes revisar la primera parte del seminario en <a href="https://youtu.be/N928r9HM2xs">https://youtu.be/N928r9HM2xs</a> y la segunda parte en el link  <a href="https://youtu.be/L7Kw6RV3qs8">https://youtu.be/L7Kw6RV3qs8</a></p>
        
<div>&nbsp;</div>
		 
                        </div>

                        <table align="center" border="0" cellpadding="0" cellspacing="0" height="20" style="background-color: #ffffff !important; " width="700">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <!--FIN TEXTOS--></td>
            <td style="width:30% ">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table align="center" style="width:900px">
    <tbody>
        <tr>
             
        </tr>
    </tbody>
</table>
<!--pie-->
{pie_texto}

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 