<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/2009/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>
IV Conferencia de Educaci&oacute;n para el Cambio Clim&aacute;tico NUEVA FECHA y MODALIDAD.

</title>

</head> 
<style> 
img { border:0}
body {font-family: "Lucida Sans" ,  sans-serif; font-size:12px;}
 
a.nounderline:link 
{ 
text-decoration:none;   
    
} 
    
    
img { border:0}
body {font-family: "Lucida Sans" ,  sans-serif;}
a {color:#023457; font-weight:bold;}
.style1 {font-size: 10px}
</style>
<body style="text-align:center ">


 <table style="width:100% "  cellpadding="5" cellspacing="5" border="0" >
  <tr>
<td style="width:30% ">&nbsp;</td>
<td  style="text-align:center">
    <!--{header_texto}-->
    <!--contenido-->
   <div style="text-align: center;">

 <table style="width:90%" border="0" cellspacing="0" cellpadding="0" width="90%">
     
  <tbody>
    <tr>
         
      <td style="text-align:center"></td>
      </tr>
        <tr>

      <td style="text-align:left">
         
         <p>Estimad{tratamiento} {nombre} {apellido}
</p>
         
        <p>La IV Conferencia Internacional &ldquo;Educaci&oacute;n en Cambio Clim&aacute;tico y Desarrollo Sostenible en Latinoam&eacute;rica&rdquo; ha reprogramado sus fechas y modalidad, suspendiendo su actividad presencial del d&iacute;a 28 de junio.</p>
        <p>
El d&iacute;a mi&eacute;rcoles 29 de junio se realizar&aacute; la inauguraci&oacute;n de la Conferencia de manera simult&aacute;nea y v&iacute;a streaming en Chile y M&eacute;xico. S&iacute;guenos v&iacute;a streaming en   <a href="https://www.youtube.com/c/uchile" target="_blank">https://www.youtube.com/c/uchile</a>

</p>

      </td>

    <tr>
         
      <td style="text-align:center"></td>
      </tr>
        <tr>

      <td style="text-align:center">
        <a href="https://ciecc.cr2.cl/" target="_blank">
         <img src="https://www.ciae.cl/correos/templates/imagenes/nueva_fecha_inscritos_CIECC.jpg" width="975px" />
           </a>
         

      </td>

    </tr> 
    </tr>
    <tr>

      <td style="text-align:center">

 
  
      </td>

    </tr>
         
  </tbody>

 </table>

 </div>
  

</td>
      <p style="font-size: 14px"></p>
<td style="width:30%">&nbsp;</td>
</tr>
    <tr><td></td><td><table style="width:100%">
 
  
</table> 

<!--pie-->
{pie_texto}



</body>
</html>
