<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Invitación seminario "Neurociencias y Educación: una mirada a la dinámica Enseñanza-Aprendizaje"</title>
<style type="text/css">img { border:0}
body {font-family: "Lucida Sans" ,  sans-serif; font-size:12px;}
 
a.nounderline:link 
{ 
    text-decoration:none;   
    
} 
    
    
img { border:0}
body { font-family: 'Brandon Grotesque', serif;}
a {color:#023457; font-weight:bold;}
.style1 {font-size: 10px}

.contenido {
    font-family: 'Brandon Grotesque', serif;
     font-size: 24px;
      margin-bottom: 0px !important; 
      margin-top: 25px !important; 
      margin-right: 30px;
      margin-left: 30px;
      padding-left: 20px; 
      padding-right: 20px;
       padding-top: 0px; 
       padding-bottom: 0px; 
       letter-spacing: 0px; 
       color: #000000; 
       font-weight: 400; 
       line-height: 30px; 
       text-align: left;
}
</style>
<table border="0" cellpadding="5" cellspacing="5" style="width:100% ">
    <tbody>
        <tr>
            <td style="width:30% ">&nbsp;</td>
            <td style="text-align:center"><!--CONTENIDO-->
            <div style="text-align: left;">
            <table style="width: 50%; border-color:#dddddd; background-color: #ffffff !important; border-width:2px; border-style:solid; padding-top: 30px !important; margin-top: 30px !important; padding: 0px !important;">
                <tbody>
                    <tr>
                        <td align="left" style="text-align:center">
                        <table border="0" cellpadding="0" cellspacing="0" height="auto" style="background-color: #ffffff !important; padding-top: 0px !important; padding-bottom: 60px !important; margin-top: 0px !important; padding-right: 0px !important; border-radius: 12px;" width="866">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                      
                       
						<img align="center" alt="" height="auto" src="https://ciae.uchile.cl/mail_list/email/imagenes/encabezados/logos-ie-ciae.png" valign="top" width="450" /> 
						
                         <!--<img align="center" alt="" height="auto" src="https://www.ciae.uchile.cl/imageview.php?image=noticias/logos-ie-ciae.jpg&externo=email_registro_{correo_md5}_{id_md5}" valign="top" width="450" />-->
						
                        <table border="0" cellpadding="0" cellspacing="0" height="auto" style="background-color: #ffffff !important; padding-top: 0px !important; padding-bottom: 60px !important; margin-top: 0px !important; padding-right: 0px !important; border-radius: 12px;" width="866">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        <!--TEXTOS-->
                        <div style="text-align:left;padding-right: 20px;padding-left: 30px;">
                         <p>Estimado Equipo Directivo,
</p>
        
         <p >En el marco de la XVII reuni&oacute;n anual de la Sociedad Chilena de Neurociencias (SCN) ha realizarse en el Hotel Enjoy de Puc&oacute;n, me es grato saludarle y extender la invitaci&oacute;n para contar con su honorable presencia y las de sus profesoras y profesores, en la actividad de extensi&oacute;n que la SCN ha organizado este a&ntilde;o.</p>
<p >Espec&iacute;ficamente, la actividad consiste en un seminario dirigido a profesoras(es), directivas(os) de escuelas, colegios y liceos de la zona. El seminario lleva por t&iacute;tulo &ldquo;<em>Neurociencias y Educaci&oacute;n: una mirada a la din&aacute;mica Ense&ntilde;anza-Aprendizaje</em>&rdquo;. El objetivo del seminario es trazar puentes entre algunos est&aacute;ndares de la profesi&oacute;n docente destacados en el marco para la buena ense&ntilde;anza y recientes hallazgos neurocient&iacute;ficos respecto a la din&aacute;mica ense&ntilde;anza-aprendizaje.</p>
<p ><strong>El seminario se&nbsp;</strong><strong>realizar&aacute; el mi&eacute;rcoles 07 de diciembre entre las 11:30 hrs y 12:45 hrs en el sal&oacute;n Araucan&iacute;a del Hotel Enjoy de Puc&oacute;n. Esta actividad es completamente gratuita.</strong></p>
<p >Es importante mencionar que el sal&oacute;n asignado para este evento tiene una&nbsp;<strong>capacidad aproximada de 250 personas</strong>, por lo tanto, es importante que indique en el link que se entrega a continuaci&oacute;n el nombre de su establecimiento educacional y el n&uacute;mero de profesoras(es) y directivos que asistir&aacute;n al evento:&nbsp;<a href="https://forms.gle/REd9QiT53EFpYedn6" >https://forms.gle/REd9QiT53EFpYedn6</a></p>
<p >Esperando una buena acogida de esta invitaci&oacute;n y agradeciendo su atenci&oacute;n a la presente, le saluda atentamente,&nbsp;</p><br>
<p ><b>Paulo Barraza Rodr&iacute;guez</b></p>
<p >Miembro de la Sociedad Chilena de Neurociencias (SCN)<br><a href="https://socneurociencia.cl/">https://socneurociencia.cl/</a></p>
<p >Profesor Asociado e Investigador<br>Centro de Estudios Avanzados en Educaci&oacute;n (CIAE) - Universidad de Chile<br>
<a href="https://www.ciae.uchile.cl/" >https://www.ciae.uchile.cl/</a></p>
<p >Instituto de Estudios Avanzados en Educaci&oacute;n (IE) - Universidad de Chile<br>
<a href="https://www.ie.uchile.cl/" >https://www.ie.uchile.cl/</a></p> 
<div>&nbsp;</div>
<div>&nbsp;</div></p>
 

                        <table align="center" border="0" cellpadding="0" cellspacing="0" height="20" style="background-color: #ffffff !important; " width="700">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <!--FIN TEXTOS--></td>
            <td style="width:30% ">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table align="center" style="width:900px">
    <tbody>
        <tr>
             
        </tr>
    </tbody>
</table>
<!--pie-->
{pie_texto}

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 