<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/2009/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>
Webinar: Nuevas tecnolog&iacute;as para la construcci&oacute;n de pruebas de selecci&oacute;n m&uacute;ltiple en Chile

</title>

</head> 
<style> 
img { border:0}
body {font-family: "Lucida Sans" ,  sans-serif; font-size:12px;}
 
a.nounderline:link 
{ 
text-decoration:none;   
    
} 
    
    
img { border:0}
body {font-family: "Lucida Sans" ,  sans-serif;}
a {color:#023457; font-weight:bold;}
.style1 {font-size: 10px}
</style>
<body style="text-align:center ">


 <table style="width:100% "  cellpadding="5" cellspacing="5" border="0" >
  <tr>
<td style="width:30% ">&nbsp;</td>
<td  style="text-align:center">
    <!--{header_texto}-->
    <!--contenido-->
   <div style="text-align: center;">

 <table style="width:90%" border="0" cellspacing="0" cellpadding="0" width="90%">
     
  <tbody>
    <tr>
         
      <td style="text-align:center"></td>
      </tr>
        <tr>

      <td style="text-align:center">
        <a href="https://us02web.zoom.us/j/85288857619" target="_blank">
         <img src="https://ciae.uchile.cl/mail_list/email/imagenes/754_confirmacion.png" width="975px" />
           </a>
         

      </td>

    </tr> <tr>
         
      <td style="text-align:center"></td>
      </tr>
        <tr>

      <td style="text-align:left">
         
         <p>Estimad{tratamiento} {nombre} {apellido}
</p>
        <p>Webinar: Nuevas tecnolog&iacute;as para la construcci&oacute;n de pruebas de selecci&oacute;n m&uacute;ltiple en Chile
</p>
        <p>Mi&eacute;rcoles 22 de junio de 2022, 17:00 a 19:00 hrs</p>

      <p>Link de acceso: <a href="https://us02web.zoom.us/j/85288857619" target="_blank">https://us02web.zoom.us/j/85288857619</a>  </p>

      <p>Revisar programa <a href="https://www.ciae.uchile.cl/index.php?page=view_noticias&id=2444&langSite=es&externo=email" target="_blank">
        aqu&iacute;
           </a>
</p>

      </td>

    </tr>
    <tr>

      <td style="text-align:center">

 
  
      </td>

    </tr>
         
  </tbody>

 </table>

 </div>
  

</td>
      <p style="font-size: 14px"></p>
<td style="width:30%">&nbsp;</td>
</tr>
    <tr><td></td><td><table style="width:100%">
 
  
</table> 

<!--pie-->
{pie_texto}



</body>
</html>
