<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title></title>
<style type="text/css">img { border:0}
body {font-family: "Lucida Sans" ,  sans-serif; font-size:12px;}
 
a.nounderline:link 
{ 
    text-decoration:none;   
    
} 
    
    
img { border:0}
body { font-family: 'Brandon Grotesque', serif;}
a {color:#023457; font-weight:bold;}
.style1 {font-size: 10px}

.contenido {
    font-family: 'Brandon Grotesque', serif;
     font-size: 24px;
      margin-bottom: 0px !important; 
      margin-top: 25px !important; 
      margin-right: 30px;
      margin-left: 30px;
      padding-left: 20px; 
      padding-right: 20px;
       padding-top: 0px; 
       padding-bottom: 0px; 
       letter-spacing: 0px; 
       color: #000000; 
       font-weight: 400; 
       line-height: 30px; 
       text-align: left;
}
</style>
<table border="0" cellpadding="5" cellspacing="5" style="width:100% ">
    <tbody>
        <tr>
            <td style="width:30% ">&nbsp;</td>
            <td style="text-align:center"><!--CONTENIDO-->
            <div style="text-align: left;">
            <table style="width: 50%; border-color:#dddddd; background-color: #ffffff !important; border-width:2px; border-style:solid; padding-top: 30px !important; margin-top: 30px !important; padding: 0px !important;">
                <tbody>
                    <tr>
                        <td align="left" style="text-align:center">
                        <table border="0" cellpadding="0" cellspacing="0" height="auto" style="background-color: #ffffff !important; padding-top: 0px !important; padding-bottom: 60px !important; margin-top: 0px !important; padding-right: 0px !important; border-radius: 12px;" width="866">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        <img align="center" alt="" height="auto" src="https://ciae.uchile.cl/mail_list/email/imagenes/encabezados/logos-ie-ciae.png" valign="top" width="340" />
                        <table border="0" cellpadding="0" cellspacing="0" height="auto" style="background-color: #ffffff !important; padding-top: 0px !important; padding-bottom: 60px !important; margin-top: 0px !important; padding-right: 0px !important; border-radius: 12px;" width="866">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        <!--TEXTOS-->
                        <div style="text-align:left;padding-right: 20px;padding-left: 30px;">
                         <p>Estimad{tratamiento} {nombre} {apellido}
</p>
         <br>
        <p>&Uacute;nete a la tercera y ultima sesión de <b>Taller: "Herramientas para recuperar aprendizajes en Oralidad"</b> este martes 06 de septiembre de 2022, 17:00 hrs.

</p>
		<p>Link ZOOM: <a href="https://us02web.zoom.us/j/81836049103?pwd=LzZHNjBnOE94T1dmcmttSWd6V0Judz09">https://us02web.zoom.us/j/81836049103?pwd=LzZHNjBnOE94T1dmcmttSWd6V0Judz09 </a>
</p>
		<p>
ID de reunión: 818 3604 9103</p>
		<p>
Código de acceso: 910957</p><br>
		<p  >* Debido a que los cupos son limitados, la invitaci&oacute;n es personal e intransferible.</p>


 
                       

                        </div>

                        <table align="center" border="0" cellpadding="0" cellspacing="0" height="20" style="background-color: #ffffff !important; " width="700">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <!--FIN TEXTOS--></td>
            <td style="width:30% ">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table align="center" style="width:900px">
    <tbody>
        <tr>
             
        </tr>
    </tbody>
</table>
<!--pie-->
{pie_texto}

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 