<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/2009/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>
Recordatorio: &Uacute;nete a la IV Conferencia de Cambio Clim&aacute;tico y Educaci&oacute;n

</title>

</head> 
<style> 
img { border:0}
body {font-family: "Lucida Sans" ,  sans-serif; font-size:12px;}
 
a.nounderline:link 
{ 
text-decoration:none;   
    
} 
    
    
img { border:0}
body {font-family: "Lucida Sans" ,  sans-serif;}
a {color:#023457; font-weight:bold;}
.style1 {font-size: 10px}
</style>
<body style="text-align:center ">


 <table style="width:100% "  cellpadding="5" cellspacing="5" border="0" >
  <tr>
<td style="width:30% ">&nbsp;</td>
<td  style="text-align:center">
    <!--{header_texto}-->
    <!--contenido-->
   <div style="text-align: center;">

 <table style="width:90%" border="0" cellspacing="0" cellpadding="0" width="90%">
     
  <tbody>
    <tr>
         
      <td style="text-align:center"></td>
      </tr>
        <tr>

      <td style="text-align:left">
         
         <p>Estimad{tratamiento} {nombre} {apellido}
</p>
         
        <p>&Uacute;nete a la IV Conferencia de Cambio Clim&aacute;tico y Educaci&oacute;n en <a href="https://ciecc.cr2.cl/" target="_blank">https://ciecc.cr2.cl/</a>

</p>

<br><br>
<p>
  <b>29 de junio 2022</b></p>
<p>Transmisi&oacute;n online desde M&eacute;xico<br>
Desde las 09.00 hrs. hora M&eacute;xico / 10.00 hrs. hora Chile</p>
 
<p><b>30 de junio 2022</b>
</p>
<p>Transmisi&oacute;n online desde M&eacute;xico
<br>Desde las 11.30 hrs. hora M&eacute;xico / 12.30 hrs. hora Chile</p>
 

      </td>

    <tr>
         
      <td style="text-align:center"></td>
      </tr>
        <tr>

      <td style="text-align:center">
        <a href="https://ciecc.cr2.cl/" target="_blank">
         <img src="https://www.ciae.cl/correos/templates/imagenes/20220629_inscritos_CIECC.jpg" width="975px" />
           </a>
         

      </td>

    </tr> 
    </tr>
    <tr>

      <td style="text-align:center">

 
  
      </td>

    </tr>
         
  </tbody>

 </table>

 </div>
  

</td>
      <p style="font-size: 14px"></p>
<td style="width:30%">&nbsp;</td>
</tr>
    <tr><td></td><td><table style="width:100%">
 
  
</table> 

<!--{pie_texto}-->




</body>
</html>
