<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Invitación Seminario "Lo que hemos aprendido en ARPA"</title>
<style type="text/css">img { border:0}
body {font-family: "Lucida Sans" ,  sans-serif; font-size:12px;}
 
a.nounderline:link 
{ 
    text-decoration:none;   
    
} 
    
    
img { border:0}
body { font-family: 'Brandon Grotesque', serif;}
a {color:#023457; font-weight:bold;}
.style1 {font-size: 10px}

.contenido {
    font-family: 'Brandon Grotesque', serif;
     font-size: 24px;
      margin-bottom: 0px !important; 
      margin-top: 25px !important; 
      margin-right: 30px;
      margin-left: 30px;
      padding-left: 20px; 
      padding-right: 20px;
       padding-top: 0px; 
       padding-bottom: 0px; 
       letter-spacing: 0px; 
       color: #000000; 
       font-weight: 400; 
       line-height: 30px; 
       text-align: left;
}
</style>
<table border="0" cellpadding="5" cellspacing="5" style="width:100% ">
    <tbody>
        <tr>
            <td style="width:30% ">&nbsp;</td>
            <td style="text-align:center"><!--CONTENIDO-->
            <div style="text-align: left;">
            <table style="width: 50%; border-color:#dddddd; background-color: #ffffff !important; border-width:2px; border-style:solid; padding-top: 30px !important; margin-top: 30px !important; padding: 0px !important;">
                <tbody>
                    <tr>
                        <td align="left" style="text-align:center">
                        <table border="0" cellpadding="0" cellspacing="0" height="auto" style="background-color: #ffffff !important; padding-top: 0px !important; padding-bottom: 60px !important; margin-top: 0px !important; padding-right: 0px !important; border-radius: 12px;" width="866">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                       
						<img align="center" alt="" height="auto" src="https://ciae.uchile.cl/mail_list/email/imagenes/encabezados/logos-ie-ciae.png" valign="top" width="450" />
						 <!--
                        <img align="center" alt="" height="auto" src="https://www.ciae.uchile.cl/imageview.php?image=noticias/logos-ie-ciae.jpg&externo=email_registro_{correo_md5}_{id_md5}" valign="top" width="450" />
						
						 -->
						
                        <table border="0" cellpadding="0" cellspacing="0" height="auto" style="background-color: #ffffff !important; padding-top: 0px !important; padding-bottom: 60px !important; margin-top: 0px !important; padding-right: 0px !important; border-radius: 12px;" width="866">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        <!--TEXTOS-->
						
						
                        <div style="text-align:center;font-size:25px;padding-right: 20px;padding-left: 30px;">
						<b>Seminario <br>"Lo que hemos aprendido en ARPA" <br>de la investigación y la práctica</b><br>
						
						</div><br><br>
						<div style="text-align:center;font-size:14px;padding-right: 20px;padding-left: 30px;">
						<p><strong>Martes 20 de diciembre, 14:30 hrs<br>
						Presencial en el Zócalo de la Casa Irma Salas, CIAE<br>
						Periodista José Carrasco Tapia 75, Transmisión vía YouTube.  </strong></p>
						</div>
						
						<br><br>
                        <div style="text-align:left;padding-right: 20px;padding-left: 30px;">
						
						
						
                         <p>En momentos en que nos encontramos prontos a cerrar el a&ntilde;o 2022, a&ntilde;o de transici&oacute;n post-pandemia, queremos hacer un alto y comunicar, a todos quienes nos han acompa&ntilde;ado en estos &uacute;ltimos a&ntilde;os, lo que hemos aprendido de la investigaci&oacute;n internacional, nacional, propia y de la pr&aacute;ctica. </p>
						 <p>En esta jornada, queremos dar a conocer investigaciones que hemos llevado a cabo durante estos a&ntilde;os y para ello hemos invitado a sus autores y autoras. Cada presentaci&oacute;n ser&aacute; comentada por un monitor o monitora del equipo ARPA qui&eacute;n dar&aacute; el contexto pr&aacute;ctico que da sustento a la investigaci&oacute;n.</p>
						<p><strong>Formulario de inscripci&oacute;n</strong> <a href="https://forms.gle/PRmeSdDXmr43Qcgy5">https://forms.gle/PRmeSdDXmr43Qcgy5</a></p>
						
						<blockquote>
<div dir="ltr">
<div dir="ltr">
<blockquote>
<div dir="ltr">
<div dir="ltr">
<div>
<div>
<div>
<div><strong>Programa</strong></div>
<div>&nbsp;</div>
<div>
<div dir="ltr" align="left">
<table><colgroup><col width="94" /><col width="494" /></colgroup>
<tbody>
<tr>
<td style="valign:top">
<p dir="ltr">14:30-14:45</p>
</td>
<td style="valign:top"><br />
<p dir="ltr">Palabras de bienvenida, Juan Pablo Valenzuela</p>
<p dir="ltr">Director del Centro de Investigaci&oacute;n Avanzada en Educaci&oacute;n (CIAE)&nbsp;</p>
</td>
</tr>
<tr>
<td style="valign:top">
<p dir="ltr">14:45-15:15</p>
</td>
<td style="valign:top">
<p dir="ltr">La propuesta pedag&oacute;gica de ARPA</p>
<p dir="ltr">Patricio Felmer, comenta Armando Peri</p>
</td>
</tr>
<tr>
<td style="valign:top">
<p dir="ltr">15:15-15:45</p>
</td>
<td style="valign:top">
<p dir="ltr">Problemas no rutinarios en Matem&aacute;tica</p>
<p dir="ltr">Farzaneh Saadati, comenta Carmen Gloria Espinoza</p>
</td>
</tr>
<tr>
<td style="valign:top">
<p dir="ltr">15:45-16:15</p>
</td>
<td style="valign:top">
<p dir="ltr">&iquest;C&oacute;mo mejorar la escritura en el aula?</p>
<p dir="ltr">Erika Abarca, comenta Constanza Alvarado</p>
</td>
</tr>
<tr>
<td style="valign:top"><br />
<p dir="ltr">16:15-16:45</p>
</td>
<td style="valign:top"><br />
<p dir="ltr">Caf&eacute;</p>
</td>
</tr>
<tr>
<td style="valign:top">
<p dir="ltr">16:45-17:15</p>
</td>
<td style="valign:top">
<p dir="ltr">La colaboraci&oacute;n en la clase de Ciencias</p>
<p dir="ltr">Jimena Negr&oacute;n, comenta Marco Araya</p>
</td>
</tr>
<tr>
<td style="valign:top">
<p dir="ltr">17:15-17:45</p>
</td>
<td style="valign:top">
<p dir="ltr">Inclusi&oacute;n en el aula arpiana</p>
<p dir="ltr">Cristi&aacute;n Reyes, comenta Natalia Ruiz&nbsp;</p>
</td>
</tr>
<tr>
<td style="valign:top">
<p dir="ltr">17:45-18:15</p>
</td>
<td style="valign:top">
<p dir="ltr">ARPA en tiempos de Pandemia</p>
<p dir="ltr">Macarena Salas, comenta Paula Olavarr&iacute;a</p>
</td>
</tr>
<tr>
<td style="valign:top"><br /><br />
<p dir="ltr">18:15-19:00</p>
</td>
<td style="valign:top">
<p dir="ltr">Mesa redonda:</p>
<p dir="ltr">Jeannette O&ntilde;ate Novoa, Directora del Liceo Bicentenario Paul Harris</p>
<p dir="ltr">Lul&uacute; Montes, Miembro del Directorio de Red SIP de Colegios</p>
<p dir="ltr">Victor Berr&iacute;os, Director de Proyectos, Gestora Educacional</p>
<p dir="ltr">Maria Gabriela Morales, Fundaci&oacute;n Arauco</p>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</blockquote>
</div>
</div>
</blockquote>
						
						<p>Esperamos contar con su presencia</p>
						
                        </div>
						
						<div>
						<img align="center" alt="" height="auto" src="https://ciae.uchile.cl/mail_list/email/imagenes/20221220_seminario_arpa_invitacion.html.jpg" valign="top" width="700" />
						</div>
						
						
						
						

                        <table align="center" border="0" cellpadding="0" cellspacing="0" height="20" style="background-color: #ffffff !important; " width="700">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <!--FIN TEXTOS--></td>
            <td style="width:30% ">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table align="center" style="width:900px">
    <tbody>
        <tr>
             
        </tr>
    </tbody>
</table>
<!--pie-->
{pie_texto}

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 