<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Invitación Seminario Kimeltun: Formación y acompañamiento para educadores tradicionales mapuche</title>
<style type="text/css">img { border:0}
body {font-family: "Lucida Sans" ,  sans-serif; font-size:12px;}
 
a.nounderline:link 
{ 
    text-decoration:none;   
    
} 
    
    
img { border:0}
body { font-family: 'Brandon Grotesque', serif;}
a {color:#023457; font-weight:bold;}
.style1 {font-size: 10px}

.contenido {
    font-family: 'Brandon Grotesque', serif;
     font-size: 24px;
      margin-bottom: 0px !important; 
      margin-top: 25px !important; 
      margin-right: 30px;
      margin-left: 30px;
      padding-left: 20px; 
      padding-right: 20px;
       padding-top: 0px; 
       padding-bottom: 0px; 
       letter-spacing: 0px; 
       color: #000000; 
       font-weight: 400; 
       line-height: 30px; 
       text-align: left;
}
</style>
<table border="0" cellpadding="5" cellspacing="5" style="width:100% ">
    <tbody>
        <tr>
            <td style="width:30% ">&nbsp;</td>
            <td style="text-align:center"><!--CONTENIDO-->
            <div style="text-align: left;">
            <table style="width: 50%; border-color:#dddddd; background-color: #ffffff !important; border-width:2px; border-style:solid; padding-top: 30px !important; margin-top: 30px !important; padding: 0px !important;">
                <tbody>
                    <tr>
                        <td align="left" style="text-align:center">
                        <table border="0" cellpadding="0" cellspacing="0" height="auto" style="background-color: #ffffff !important; padding-top: 0px !important; padding-bottom: 60px !important; margin-top: 0px !important; padding-right: 0px !important; border-radius: 12px;" width="866">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        
						 
						 <img align="center" alt="" height="auto" src="https://ciae.uchile.cl/mail_list/email/imagenes/encabezados/logosheader-01jun-.jpg" valign="top" width="700" /> 
						 
                        <table border="0" cellpadding="0" cellspacing="0" height="auto" style="background-color: #ffffff !important; padding-top: 0px !important; padding-bottom: 60px !important; margin-top: 0px !important; padding-right: 0px !important; border-radius: 12px;" width="866">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        <!--TEXTOS-->
						<div style="text-align:right;padding-right: 20px;padding-left: 30px;">
 Santiago, mayo de 2023  
<div>
                        <div style="text-align:left;padding-right: 20px;padding-left: 30px;">
                        <br> <p>Estimad{tratamiento} {nombre} {apellido}
</p>
         <br>
<p>Mediante la presente, tengo el agrado de invitarle al seminario <a href="https://www.ciae.uchile.cl/index.php?page=view_noticias&id={id_noticia}&externo=email_invitacion_{correo_md5}_{id_md5}&langSite=es">&ldquo;Kimeltun: Formaci&oacute;n y&nbsp;acompa&ntilde;amiento para educadores tradicionales mapuche&rdquo;</a> que se realizar&aacute; el d&iacute;a 1 de&nbsp;junio de 2023 entre las 9.00 y las 10.00 horas en la Sala Enrique Sazi&eacute;, de la Casa Central de la&nbsp;Universidad de Chile (Avda. Libertador Bernardo O&rsquo;Higgins 1058, Santiago).</p>
<p>En este seminario se presentar&aacute;n los principales resultados del proyecto FONDEF ID 20I10011 que busca generar un prototipo de plataforma tecnol&oacute;gica que cuenta con cuatro&nbsp;componentes: registro formativo de los educadores; cursos en l&iacute;nea sobre pedagog&iacute;a,&nbsp;lengua y cultura mapuche; evaluaci&oacute;n formativa; y un repositorio con recursos educativos&nbsp;para ejercer su funci&oacute;n como educadores de la asignatura &ldquo;Lengua y cultura de los pueblos&nbsp;originarios ancestrales&rdquo;.</p>
<p>Este proyecto fue desarrollado por un equipo de investigadores del IE y CIAE en&nbsp;colaboraci&oacute;n con UNESCO y con el Programa de Educaci&oacute;n Intercultural Biling&uuml;e del&nbsp;Ministerio de Educaci&oacute;n de Chile. Recibi&oacute; financiamiento de la ANID a trav&eacute;s de un&nbsp;proyecto FONDEF.</p>
<p>El seminario ser&aacute; presidido por la Prorrectora de la Universidad de Chile, profesora Alejandra Mizala; participar&aacute;n tambi&eacute;n el Lonko Sebasti&aacute;n Collonao; el Director del PEIB,&nbsp;se&ntilde;or Felino Garc&iacute;a e investigadores del proyecto.</p>

<p>El seminario ser&aacute; transmitido a trav&eacute;s&nbsp;de nuestro <a href="https://www.youtube.com/watch?v=KHU20kpVrUk">canal de Youtube.</a></p>
<p>Esperando su asistencia, se despide atentamente</p>
 
  
</div>

<div style="text-align:left;padding-right: 20px;padding-left: 30px;">
<p><br /><br />Carmen Sotomayor,<br />Directora <br />Instituto de Estudios Avanzados en Educaci&oacute;n<br /> Universidad de Chile</p>
<p>R.S.V.P. pamela.campos@ie.uchile.cl</p>
<p>&nbsp;</p>
<div>
 
 
                        </div>

                        <table align="center" border="0" cellpadding="0" cellspacing="0" height="20" style="background-color: #ffffff !important; " width="700">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <!--FIN TEXTOS--></td>
            <td style="width:30% ">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table align="center" style="width:900px">
    <tbody>
        <tr>
             
        </tr>
    </tbody>
</table>
<!--pie-->
{pie_texto}

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 