<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Recepción postulación - Posición postdoctoral en CIAE Universidad de Chile.</title>
<style type="text/css">img { border:0}
body {font-family: "Lucida Sans" ,  sans-serif; font-size:12px;}
 
a.nounderline:link 
{ 
    text-decoration:none;   
    
} 
    
    
img { border:0}
body { font-family: 'Brandon Grotesque', serif;}
a {color:#023457; font-weight:bold;}
.style1 {font-size: 10px}

.contenido {
    font-family: 'Brandon Grotesque', serif;
     font-size: 24px;
      margin-bottom: 0px !important; 
      margin-top: 25px !important; 
      margin-right: 30px;
      margin-left: 30px;
      padding-left: 20px; 
      padding-right: 20px;
       padding-top: 0px; 
       padding-bottom: 0px; 
       letter-spacing: 0px; 
       color: #000000; 
       font-weight: 400; 
       line-height: 30px; 
       text-align: left;
}
</style>
<table border="0" cellpadding="5" cellspacing="5" style="width:100% ">
    <tbody>
        <tr>
            <td style="width:30% ">&nbsp;</td>
            <td style="text-align:center"><!--CONTENIDO-->
            <div style="text-align: left;">
            <table style="width: 50%; border-color:#ffffff; background-color: #ffffff !important; border-width:2px; border-style:solid; padding-top: 30px !important; margin-top: 30px !important; padding: 0px !important;">
                <tbody>
                    <tr>
                        <td align="left" style="text-align:center">
                        <table border="0" cellpadding="0" cellspacing="0" height="auto" style="background-color: #ffffff !important; padding-top: 0px !important; padding-bottom: 60px !important; margin-top: 0px !important; padding-right: 0px !important; border-radius: 12px;" width="866">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        {header_texto}
                        <table border="0" cellpadding="0" cellspacing="0" height="auto" style="background-color: #ffffff !important; padding-top: 0px !important; padding-bottom: 60px !important; margin-top: 0px !important; padding-right: 0px !important; border-radius: 12px;" width="866">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        <!--TEXTOS-->
                        <div style="text-align:left;padding-right: 20px;padding-left: 30px;">
                         <p>Estimad{tratamiento} {nombre} {apellido}
</p>
         
        <p>Le informamos que hemos recibid&oacute; su solicitud para una posici&oacute;n posdoctoral.</p>
		  
<p>El comit&eacute; revisar&aacute; la informaci&oacute;n y le informar&aacute; sobre el estado de su solicitud.</p>


<p><b>Cartas de recomendaci&oacute;n: el/la recomendor/a deberá enviar la carta al correo  <a href="mailto:postulacion.postdoc@ciae.uchile.cl?subject=Carta+recomendacion+para+posici%c3%b3n+postdoctoral+2023" target="_blank">postulacion.postdoc@ciae.uchile.cl</a> indicando Nombre de postulante, nombre de recomendador/a y carta de recomendaci&oacute;n. Ambas cartas deben ser enviadas antes de la fecha de cierre de postulaci&oacute;n, de lo contrario ser&aacute; considera postulaci&oacute;n no v&aacute;lida.</b>
</p>


 <p>Gracias por su inter&eacute;s y aplicaci&oacute;n. </p>
               </div>         

 <div style="  border-top: 1px dotted grey;margin: 20px 50px 5px 25px;text-align:center;">
  </div>    
<div style="text-align:left;padding-right: 20px;padding-left: 30px;">

						
						<p>Dear {nombre} {apellido}</p>
         
						<p>We inform you that we have received your application for a Postdoctoral Position.</p>
		  
<p>The committee will review the information and will inform you of the status of your application.</p>




<p><b>Letters of recommendation: the recommender must send the letter to the email   <a href="mailto:postulacion.postdoc@ciae.uchile.cl?subject=Letters+recommendation+for+Postdoctoral+position+2023" target="_blank">postulacion.postdoc@ciae.uchile.cl</a> indicating the name of the applicant, the name of the recommender and the letter of recommendation. Both letters must be sent before the application closing date, otherwise the application will be considered invalid.</b>
</p>





		  
<p>Thank you for your interest and application</p>
 </div>
						
                        <table align="center" border="0" cellpadding="0" cellspacing="0" height="20" style="background-color: #ffffff !important; " width="700">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <!--FIN TEXTOS--></td>
            <td style="width:30% ">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table align="center" style="width:900px">
    <tbody>
        <tr>
             
        </tr>
    </tbody>
</table>

<!--pie-->
{pie_texto}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 