<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Confirmación participación</title>
<style type="text/css">img { border:0}
body {font-family: "Lucida Sans" ,  sans-serif; font-size:12px;}
 
a.nounderline:link 
{ 
    text-decoration:none;   
    
} 
    
    
img { border:0}
body { font-family: 'Brandon Grotesque', serif;}
a {color:#023457; font-weight:bold;}
.style1 {font-size: 10px}

.contenido {
    font-family: 'Brandon Grotesque', serif;
     font-size: 24px;
      margin-bottom: 0px !important; 
      margin-top: 25px !important; 
      margin-right: 30px;
      margin-left: 30px;
      padding-left: 20px; 
      padding-right: 20px;
       padding-top: 0px; 
       padding-bottom: 0px; 
       letter-spacing: 0px; 
       color: #000000; 
       font-weight: 400; 
       line-height: 30px; 
       text-align: left;
}
</style>
<table border="0" cellpadding="5" cellspacing="5" style="width:100% ">
    <tbody>
        <tr>
            <td style="width:30% ">&nbsp;</td>
            <td style="text-align:center"><!--CONTENIDO-->
            <div style="text-align: left;">
            <table style="width: 50%; border-color:#dddddd; background-color: #ffffff !important; border-width:2px; border-style:solid; padding-top: 30px !important; margin-top: 30px !important; padding: 0px !important;">
                <tbody>
                    <tr>
                        <td align="left" style="text-align:center">
                        <table border="0" cellpadding="0" cellspacing="0" height="auto" style="background-color: #ffffff !important; padding-top: 0px !important; padding-bottom: 60px !important; margin-top: 0px !important; padding-right: 0px !important; border-radius: 12px;" width="866">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        
						 
						 <img align="center" alt="" height="auto" src="https://ciae.uchile.cl/mail_list/email/imagenes/encabezados/logoie.png" valign="top" width="700" /> 
						
                        <!-- <img align="center" alt="" height="auto" src="https://www.ciae.uchile.cl/imageview.php?image=noticias/logoie2.jpg&externo=email_registro_{correo_md5}_{id_md5}" valign="top" width="350"   />
						-->
						
                        <table border="0" cellpadding="0" cellspacing="0" height="auto" style="background-color: #ffffff !important; padding-top: 0px !important; padding-bottom: 60px !important; margin-top: 0px !important; padding-right: 0px !important; border-radius: 12px;" width="866">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        <!--TEXTOS-->
						<div style="text-align:right;padding-right: 20px;padding-left: 30px;">
 Santiago, 5 de abril de 2023  
<div>
                        <div style="text-align:left;padding-right: 20px;padding-left: 30px;">
                         <p>Estimad{tratamiento} {nombre} {apellido}
</p>
         
<p>Por intermedio de la presente, tenemos el agrado de invitarle a la inauguraci&oacute;n del Mag&iacute;ster en Indagaci&oacute;n e Innovaci&oacute;n Educacional del Instituto de Estudios Avanzados en Educaci&oacute;n de la Universidad de Chile, que se realizar&aacute; el d&iacute;a 13 de abril a las 9.30 horas en el Sal&oacute;n Domeyko de la Casa Central de la Universidad de Chile (Avenida Libertador Bernardo O'higgins 1058, Santiago).</p>
<p>En el marco de esta actividad, el profesor del Teachers College de la Universidad de Columbia, Thomas Hatch, dictar&aacute; la conferencia <b>&quot;&iquest;Qu&eacute; se necesita para mejorar las escuelas y transformar la educaci&oacute;n?&quot;.</b></p>
<p>La actividad ser&aacute; presidida por la se&ntilde;ora Alejandra Mizala, prorrectora de la Universidad de Chile, y en ella participar&aacute;n, con palabras protocolares, el se&ntilde;or Marco Antonio &Aacute;vila, Ministro de Educaci&oacute;n; la se&ntilde;ora Carmen Sotomayor, Directora del Instituto de Estudios Avanzados en Educaci&oacute;n; y quien suscribe.</p>
<p>Puede revisar informaci&oacute;n y programa del evento en <a href="https://www.ie.uchile.cl/index.php?page=view_noticias&id={id_noticia}&externo=email_invitacion_{correo_md5}_{id_md5}&langSite=es">AQU&Iacute;</a> </p>
 
<p>Esperando que nos pueda acompa&ntilde;ar en esta actividad, se despide atentamente,</p>


</div>

<div style="text-align:right;padding-right: 20px;padding-left: 30px;">
<p><br /><br />Mar&iacute;a Beatriz Fern&aacute;ndez<br />Coordinadora Acad&eacute;mica <br />Programa de Mag&iacute;ster en Indagaci&oacute;n e Innovaci&oacute;nEducacional <br /> Universidad de Chile</p>
<p>R.S.V.P. daniela.rivera@ie.uchile.cl</p>
<p>&nbsp;</p>
<div>
 
 
                        </div>

                        <table align="center" border="0" cellpadding="0" cellspacing="0" height="20" style="background-color: #ffffff !important; " width="700">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <!--FIN TEXTOS--></td>
            <td style="width:30% ">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table align="center" style="width:900px">
    <tbody>
        <tr>
             
        </tr>
    </tbody>
</table>
<!--pie-->
{pie_texto}

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 