<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>&iexcl;Atenci&oacute;n profesores/as de matem&aacute;ticas! Colabora con nosotras y se parte de nuestra investigaci&oacute;n. </title>
<style type="text/css">img { border:0}
body {font-family: "Lucida Sans" ,  sans-serif; font-size:12px;}
 
a.nounderline:link 
{ 
    text-decoration:none;   
    
} 
    
    
img { border:0}
body { font-family: 'Brandon Grotesque', serif;}
a {color:#023457; font-weight:bold;}
.style1 {font-size: 10px}

.contenido {
    font-family: 'Brandon Grotesque', serif;
     font-size: 24px;
      margin-bottom: 0px !important; 
      margin-top: 25px !important; 
      margin-right: 30px;
      margin-left: 30px;
      padding-left: 20px; 
      padding-right: 20px;
       padding-top: 0px; 
       padding-bottom: 0px; 
       letter-spacing: 0px; 
       color: #000000; 
       font-weight: 400; 
       line-height: 30px; 
       text-align: left;
}
</style>
<table border="0" cellpadding="5" cellspacing="5" style="width:100% ">
    <tbody>
        <tr>
            <td style="width:30% ">&nbsp;</td>
            <td style="text-align:center"><!--CONTENIDO-->
            <div style="text-align: left;">
            <table style="width: 50%; border-color:#dddddd; background-color: #ffffff !important; border-width:2px; border-style:solid; padding-top: 30px !important; margin-top: 30px !important; padding: 0px !important;">
                <tbody>
                    <tr>
                        <td align="left" style="text-align:center">
                        <table border="0" cellpadding="0" cellspacing="0" height="auto" style="background-color: #ffffff !important; padding-top: 0px !important; padding-bottom: 60px !important; margin-top: 0px !important; padding-right: 0px !important; border-radius: 12px;" width="866">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                      
                       
						<img align="center" alt="" height="auto" src="https://ciae.uchile.cl/mail_list/email/imagenes/encabezados/logos-ie-ciae-anid.png" valign="top" width="700" /> 
						
                         <!--<img align="center" alt="" height="auto" src="https://www.ciae.uchile.cl/imageview.php?image=noticias/logos-ie-ciae.jpg&externo=email_registro_{correo_md5}_{id_md5}" valign="top" width="450" />-->
						
                        <table border="0" cellpadding="0" cellspacing="0" height="auto" style="background-color: #ffffff !important; padding-top: 0px !important; padding-bottom: 60px !important; margin-top: 0px !important; padding-right: 0px !important; border-radius: 12px;" width="866">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        <!--TEXTOS-->
                        <div style=" direction:ltr;font-family:'Nunito', sans-serif;font-size:14px;font-weight:400;letter-spacing:0px;line-height:150%;text-align:justify;mso-line-height-alt:24px;text-align:left;padding-right: 20px;padding-left: 30px;">
                         <p>Estimado/a docente,</p>
         <br>
        
<p>Mi nombre es Fazaneh Saadati investigadora del Instituto de Estudios Avanzados en Educaci&oacute;n y Centro de Investigaci&oacute;n
Avanzada en Educaci&oacute;n, ambos de la Universidad de Chile. Junto con saludar, me gustar&iacute;a invitar a
docentes de matem&aacute;ticas que hagan clases de 5&deg; a 8&deg; a&ntilde;o a participar de la investigaci&oacute;n
financiada por Fondecyt de ANID llamada &quot;Cambio en las competencias pedag&oacute;gicas de los
profesores y mantenimiento del cambio: un estudio de los programas chilenos de desarrollo
profesional en matem&aacute;ticas&quot; de la cual soy investigadora responsable.</p>
<p>Su participaci&oacute;n consistir&aacute; en responder dos cuestionarios en abril-mayo 2023 y luego, dos
cuestionarios en diciembre de 2023. Cada cuestionario tiene una duraci&oacute;n de 2 hrs
aproximadamente y podr&aacute; responderlos virtualmente a trav&eacute;s de la plataforma Canvas en el
horario y orden que su prefieras (dada la extensi&oacute;n de los cuestionarios, recomendamos
responderlos en diferentes d&iacute;as).</p>
<p>El objetivo de su participaci&oacute;n es conseguir un grupo de control de docentes que me permitan
indagar en cuatro &aacute;reas de la ense&ntilde;anza de la matem&aacute;tica:</p>
<ol>
<li>Conocimiento matem&aacute;tico,</li>
<li>Conocimiento pedag&oacute;gico,</li>
<li>Creencias sobre la matem&aacute;tica, y finalmente,</li>
<li>Noticing. Lo anterior proporcionar&aacute; informaci&oacute;n de relevancia para la labor profesional de los docentes y para futuros desarrollos profesionales de alcance regional y nacional.</li>
</ol>
<p>La informaci&oacute;n proporcionada ser&aacute; estrictamente confidencial y utilizada exclusivamente con fines de investigaci&oacute;n.</p>
<p>Si desea participar, ingrese sus datos en el formulario de google del siguiente link (tomar&aacute;&nbsp;m&aacute;ximo 5 min).</p>
<p><a href="https://forms.gle/5bHVwvuVmBNpWVh7A">https://forms.gle/5bHVwvuVmBNpWVh7A</a></p>
<p>Una vez inscrito/a le enviaremos detalles de la investigaci&oacute;n y su participaci&oacute;n.</p>
<p>Desde ya agradezco su entusiasmo por contribuir con nuestra investigaci&oacute;n.</p>

<p>Si tiene dudas puede escribir a <a href="mailto:encuesta.matematica@ciae.uchile.cl">encuesta.matematica@ciae.uchile.cl</a></p> 
<p>Saludos cordiales.</p>


<p>&nbsp;</p> 
<p><b>Farzaneh Saadati</b><br>Investigadora<br><br>Instituto de Estudios Avanzados en Educaci&oacute;n<br>Centro de Investigaci&oacute;n Avanzada en Educaci&oacute;n<br>Universidad de Chile</p>
<p>&nbsp;</p>
<p  style="text-align:justify; font-size:105%"><b>Si usted no es docente de matem&aacute;ticas, o ya se inscribi&oacute; en formulario, por favor omita este correo. </b></p>
 
						</div>
                        <table align="center" border="0" cellpadding="0" cellspacing="0" height="20" style="background-color: #ffffff !important; " width="700">
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <!--FIN TEXTOS--></td>
            <td style="width:30% ">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table align="center" style="width:900px">
    <tbody>
        <tr>
             
        </tr>
    </tbody>
</table>
<!--pie-->
{pie_texto}

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 