<div class="footer" style="text-align:left; font-size: 10px;">
 
<div align="center" class="style1"><br>


<p class="style1">S&iacute;gue al <strong>CIAE</strong> en: <a href="https://www.ciae.uchile.cl" target="_blank" title="www CIAE">www.ciae.uchile.cl</a></p>
    
<table width="330" height="44" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <th width="330" height="60" align="left" valign="top" scope="row"><table width="330" height="44" border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
              
            <th align="left" valign="top" scope="col"><a href="https://www.facebook.com/ciae.uchile" target="_blank"  title="Facebook CIAE"><img src="https://ciae.uchile.cl/mail_list/email/imagenes/pie-icons/icon_fb.png" width="34" height="34" alt=""></a></th>
            <th align="left" valign="top" scope="col"><img src="https://ciae.uchile.cl/mail_list/email/imagenes/pie-icons/sector9.png" width="22" height="44" alt=""></th>
            <th align="left" valign="top" scope="col"><a href="http://twitter.com/ciae_uchile" target="_blank" title="Twitter CIAE" ><img src="https://ciae.uchile.cl/mail_list/email/imagenes/pie-icons/icon_tw.png" width="34" height="34" alt=""></a></th>
            <th align="left" valign="top" scope="col"><img src="https://ciae.uchile.cl/mail_list/email/imagenes/pie-icons/sector11.png" width="22" height="44" alt=""></th>        
			<th align="left" valign="top" scope="col"><a href="https://www.instagram.com/ciae_uchile/" target="_blank"  title="instagram CIAE" ><img src="https://ciae.uchile.cl/mail_list/email/imagenes/pie-icons/icon_ig.png" width="34" height="34" alt=""></a></th>
            <th align="left" valign="top" scope="col"><img src="https://ciae.uchile.cl/mail_list/email/imagenes/pie-icons/sector13.png" width="22" height="44" alt=""></th>
            <th align="left" valign="top" scope="col"><a href="https://www.youtube.com/c/CIAEUchile" target="_blank"  title="Youtube CIAE" ><img src="https://ciae.uchile.cl/mail_list/email/imagenes/pie-icons/icon_yt.png" width="34" height="34" alt=""></a></th>
            <th align="left" valign="top" scope="col"><img src="https://ciae.uchile.cl/mail_list/email/imagenes/pie-icons/sector15.png" width="22" height="44" alt=""></th>
            <th align="left" valign="top" scope="col"><a href="https://www.linkedin.com/company/ciae---universidad-de-chile/" target="_blank"  title="Linkedin CIAE" ><img src="https://ciae.uchile.cl/mail_list/email/imagenes/pie-icons/icon_in.png" width="34" height="34" alt=""></a></th>
          </tr>
        </tbody>
      </table></th>
    </tr>
  </tbody>
</table>
<p class="style1">S&iacute;gue al <strong>IE</strong> en: <a href="https://www.ie.uchile.cl" target="_blank" title="www IE">www.ie.uchile.cl</a></p>
    
<table width="330" height="44" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <th width="330" height="60" align="left" valign="top" scope="row"><table width="330" height="44" border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr> 
             <th align="left" valign="top" scope="col"><a href="https://www.facebook.com/IEducacionUCH" target="_blank" title="Facebook IE"><img src="https://ciae.uchile.cl/mail_list/email/imagenes/pie-icons/icon_fb.png" width="34" height="34" alt=""></a></th>
            <th align="left" valign="top" scope="col"><img src="https://ciae.uchile.cl/mail_list/email/imagenes/pie-icons/sector9.png" width="22" height="44" alt=""></th>
            <th align="left" valign="top" scope="col"><a href="https://twitter.com/IEducacionUCH" target="_blank" title="Twitter IE" ><img src="https://ciae.uchile.cl/mail_list/email/imagenes/pie-icons/icon_tw.png" width="34" height="34" alt=""></a></th>
            <th align="left" valign="top" scope="col"><img src="https://ciae.uchile.cl/mail_list/email/imagenes/pie-icons/sector11.png" width="22" height="44" alt=""></th>        
      <th align="left" valign="top" scope="col"><a href="https://www.instagram.com/ieducacionuchile/" target="_blank"  title="instagram IE" ><img src="https://ciae.uchile.cl/mail_list/email/imagenes/pie-icons/icon_ig.png" width="34" height="34" alt=""></a></th>
            <th align="left" valign="top" scope="col"><img src="https://ciae.uchile.cl/mail_list/email/imagenes/pie-icons/sector13.png" width="22" height="44" alt=""></th>
            <th align="left" valign="top" scope="col"><a href="https://www.youtube.com/c/IEUchile" target="_blank"  title="Youtube IE" ><img src="https://ciae.uchile.cl/mail_list/email/imagenes/pie-icons/icon_yt.png" width="34" height="34" alt=""></a></th>
            <th align="left" valign="top" scope="col"><img src="https://ciae.uchile.cl/mail_list/email/imagenes/pie-icons/sector15.png" width="22" height="44" alt=""></th>
            <th align="left" valign="top" scope="col"><a href="https://www.linkedin.com/company/ieducacionuch/" target="_blank"  title="Linkedin IE" ><img src="https://ciae.uchile.cl/mail_list/email/imagenes/pie-icons/icon_in.png" width="34" height="34" alt=""></a></th>
          </tr>
        </tbody>
      </table></th>
    </tr>
  </tbody>
</table>

    
	
<p align="center" class="style1"><br><br><br><br><a href="https://www.ciae.uchile.cl"><img src="https://ciae.uchile.cl/mail_list/email/imagenes/encabezados/pie_CIAE-IE2.jpg"></a></p>
 
<p style="font-size: 10px">
Si NO desea recibir m&aacute;s de nuestros mensajes, puede darse de baja <a href='https://www.ciae.uchile.cl/mail_list/eliminarSuscripcion.php?ie={correo_md5}' style="color:#023457;">aqu&iacute;</a> o enviarnos correo a   <a href='mailto:desuscribir_correo@ciae.uchile.cl' style="color:#023457;">desuscribir_correo@ciae.uchile.cl</a>.</p>
<p style="font-size: 10px">Para asegurar que contin&uacute;es recibiendo nuestros mensajes, por favor a&ntilde;ada el remitente de este mensaje a su libreta de direcciones</p>
</div></div>



   